@import "../variable.scss";

.about {
  .about-row {
    @include flex();

    .left-col {
      width: 50em;
      margin-bottom: 2em;

      img {
        width: 100%;
        border: none;
        border-radius: 0.5em;
      }
    }

    .right-col {
      width: 40em;

      @media (max-width: $large-screen) {
        width: 50em;
      }

      .about-text {
        h1,
        p {
          line-height: 1.8;
        }

        button {
          margin: 1em 0 0;
        }
      }
    }
  }
}
