@import "../variable.scss";

.footer {
  background: linear-gradient(to right, rgba(3, 116, 116, 1), rgba(0, 0, 0, 1));
  padding: 2em 5em 0;

  .footer-container {
    @include flex;
    color: $white-color;
    max-width: $extraLarge-screen;
    margin: 0 auto;

    .footer-logo img {
      width: 5em;
      margin-left: 6em;
    }

    .footer-link-box {
      @include flex;

      .footer-list {
        margin: 0 3em 4em;
        padding: 0 3em;
      }

      li a {
        color: $white-color;
        line-height: 1.8;
        cursor: pointer;
      }

      @media (max-width: $large-screen) {
        margin-top: 3em;
      }
    }
  }

  .copyright {
    color: $lightShade-color;
    text-align: center;
    font-size: 1.2em;
    opacity: 0.7;
  }
}
