@import "../variable.scss";

.footer {
  background-color: $darkTeal-color;

  .container {
    padding: 2em 5em;

    .footer-links {
      @include flex();

      .link-title {
        flex-basis: 20%;
        text-align: center;
        border: 1px solid $white-color;
        padding: 0.5em 0;

        @media (max-width: $small-screen) {
          flex-basis: 50%;
          margin: 1em;
        }

        &:hover {
          @include pulse;
        }

        h4 {
          color: $lightShade-color;
        }

        small a {
          color: $lightShade-color;
          font-weight: 500;
          text-align: left;
          cursor: pointer;

          &:hover {
            @include flash;
            font-weight: 700;
          }
        }
      }
    }
  }

  hr {
    width: 100%;
    border: 1px solid $white-color;
  }

  .footer-info {
    width: 100%;
    padding: 1em 0 1.5em;

    .copyright-text {
      @include flex();
      justify-content: center;
      position: relative;
      color: $white-color;

      sub {
        color: $white-color;

        .icon {
          font-size: 2em;
          padding-top: 0.2em;
        }
      }

      a {
        color: $white-color;
        position: absolute;
        right: 0.5em;

        .arrow-up:hover {
          @include flash();
        }

        .arrow-up {
          font-size: 2em;
        }
      }
    }
  }
}
