@import "../variable.scss";

.plans {
  padding: 3em 0;

  .plan-row {
    @include flex();

    .left-col {
      width: 50em;
      margin-bottom: 5em;

      p {
        margin: 1em 0 2em;
      }
    }

    .right-col {
      width: 35em;

      @media (max-width: $medium-screen) {
        width: 50em;
      }

      img {
        width: 100%;
        border: none;
        border-radius: 0.5em;
      }
    }
  }
}
